{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <div class="flex flex-1 justify-between">
        <div class="flex flex-1">
            <form class="flex w-full h-full md:ml-0" method="get" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="relative w-full h-[48px] text-gray-400 focus-within:text-gray-600">
                    {{ form.q }}
                </div>
            </form>
        </div>
    </div>
    <main class="max-w-5xl mx-6 my-8">
        <section>
            <h1 class="text-3xl font-bold">All Pages</h1>
        </section>
        <section>
            <ul class="my-8 mx-2">
                {% for entry in entries %}
                    <li class="text-lg mb-2 text-blue-700 hover:text-blue-900">
                        <a href="{% url 'single-post' title=entry %}">
                            {{ entry }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}