{% load static %}
<!DOCTYPE html>

<html lang="en" class="h-full bg-gray-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'encyclopedia/dist/output.css' %}" rel="stylesheet">
    </head>
    <body class="h-full">
        <aside class="relative z-40 md:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-slate-600 bg-opacity-75"></div>
            <div class="fixed inset-0 z-40 flex">
                <div class="relative flex w-full max-w-xs flex-1 flex-col bg-slate-900">
                    <div class="absolute top-0 right-0 -mr-12 pt-4">
                        <button id="close-btn" type="button" class="ml-1 flex h-10 w-10 items-center justify-center rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
                            <span class="sr-only">Close sidebar</span>
                            <!-- Heroicon name: outline/x-mark -->
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="h-0 flex-1 overflow-y-auto pt-6 pb-4">
                        <div class="flex flex-shrink-0 items-center px-6">
                            <h1 class="text-white text-2xl tracking-widest font-bold">CS50 Wiki</h1>
                        </div>
                        <nav class="mt-8 space-y-3 px-6">
                            <a href="{% url 'index' %}" class="text-slate-50 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md">Home</a>
                            <a href="{% url 'create-post' %}" class="text-slate-50 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md">Create New Page</a>
                            <a href="{% url 'random-post' %}" class="text-slate-50 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md">Random Page</a>
                        </nav>
                    </div>
                    <div class="w-14 flex-shrink-0">
                        <!-- Force sidebar to shrink to fit close icon -->
                    </div>
                </div>
            </div>
        </aside>

        <aside class="hidden md:fixed md:inset-y-0 md:flex md:w-64 md:flex-col">
            <div class="flex min-h-0 flex-1 flex-col bg-slate-900">
                <div class="flex flex-1 flex-col overflow-y-auto pt-6 pb-4">
                    <div class="flex flex-shrink-0 items-center px-6">
                        <h1 class="text-white text-2xl tracking-widest font-bold">CS50 Wiki</h1>
                    </div>
                    <nav class="mt-8 flex-1 space-y-3 px-6">
                        <a href="{% url 'index' %}" class="text-slate-50 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md">Home</a>
                        <a href="{% url 'create-post' %}" class="text-slate-50 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md">Create New Page</a>
                        <a href="{% url 'random-post' %}" class="text-slate-50 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md">Random Page</a>
                    </nav>
                </div>
            </div>
        </aside>
        <div class="flex flex-1 flex-col md:pl-64">
            <div class="sticky top-0 z-10 flex h-16 flex-shrink-0 bg-white shadow">
                <button id="open-btn" type="button" class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden">
                    <span class="sr-only">Open sidebar</span>
                    <!-- Heroicon name: outline/bars-3-bottom-left -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                    </svg>
                </button>
            </div>
            {% block body %}
            {% endblock %}
        </div>

        <!-- js -->
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const sidebar = document.querySelector('.md\\:hidden');
                const closeBtn = document.getElementById('close-btn')
                const openBtn = document.getElementById('open-btn')

                function close() {
                    sidebar.classList.toggle('hidden')
                }
                function open() {
                    sidebar.classList.remove('hidden')
                }

                closeBtn.addEventListener('click', close)
                openBtn.addEventListener('click', open)
            })
        </script>
    </body>
</html>