<div class="row">
    <div class="sidebar col-lg-2 col-md-3">
        <h2>Wiki</h2>
        <form method="get" action="{% url 'search' %}">
            {% csrf_token %}
            {{ form.q.label_tag }}
            {{ form.q }}
        </form>
        <div>
            <a href="{% url 'index' %}">Home</a>
        </div>
        <div>
            <a href="{% url 'create-post' %}">Create New Page</a> 
        </div>
        <div>
            <a href="{% url 'random-post' %}">Random Page</a>
        </div>
        {% block nav %}
        {% endblock %}
    </div>
    <div class="main col-lg-10 col-md-9">
        {% block body %}
        {% endblock %}
    </div>
</div>
